@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(245, 245, 245);
}

#root{
    background-color: rgb(245, 245, 245);
}

header{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-color: black;
}


.nav-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 115px;
    width: 1140px;
}

.wsp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.wsp p{
    margin: 0;
}

.search button{
    height: 40px;
    width: 40px;
    background-color: white;
    padding: 0;
    border: none;
}

.search input{
    width: 560px;
    height: 40px;
    background-color: white;
    padding: 0px 20px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.search{
    background-color: white;
}

.logo{
    height: 60px;
    width: 60px;
}

.logo-nombre{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: White;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 1140px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: sticky;
    top: 171px;
}

.menu span, .menu-st span{
    color: white;
}

.top-mn ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    height: 56px;
}

.top-mn ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    /* width: 110px; */
    font-size: 1rem;
    margin: 0px 3px;
}

.top-mn ul li a{
    background-color: #222222;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    /* width: 110px; */
    padding: 0px 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.top-mn ul li a:hover{
    background-color: white;
    color: black;
}

.btn-producto-desplegable{
    color: rgb(0, 0, 0,0.7);
    background-color: white;
}

.btn-producto-desplegable i{
    color: rgb(0, 0, 0,0.5);
    transition: color 0.3s ease;
}

.btn-producto-desplegable:hover i{
    color: black;
}

.contenido{
    /* height: 200vh; */
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin: 20px 0px 40px 0px;
    min-height: 500px;
}


.contenedorProductos{
    width: 1000px;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 60px;
    row-gap: 60px;
}

.menu button, .menu-st button{
    height: 42px;
    width: 255px;
    border-radius: 0px;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    margin-right: 15px;
    cursor: pointer;
}

.menu button p, .menu-st button p{
    margin: 0;
    display: flex;
    justify-content: start;
    width: 70%;
}

.menu button i, .menu-st button i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.top-mn{
    display: flex;
    align-items: center;
}

/* position fixed y z index para hacer que aparezca un nuevo nav al hacer scroll. solo con html y css.*/
.menu-st{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 0px 105px;
    box-sizing: border-box;
    top: 0px;
}

.menu-st a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-st{
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.top-mn-st{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wsp a i{
    color: green;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.wsp a{
    text-decoration: none;
}

.btm-mn{
    cursor: default;
}

.btm-mn i{
    cursor: pointer;
    padding: 5px;
}

.btm-mn i:hover{
    background-color: rgb(255, 255, 255, 0.2);
}

footer{
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    padding: 60px 0px;
}

.cards div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 360px;
    height: 175px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 0.9rem;
    /* margin: 0px 10px; */
}

.cards div h4, .cards div p{
    margin: 5px 0 0 0;
}

.info{
    display: grid;
    grid-template-columns: 35% 20% 20% 25%;
    grid-template-rows: auto;
    /* padding: 50px 0px; */
    width: 1140px;
    margin-top: 20px;
}

.info-sec{
    display: flex;
    flex-direction: column;
}

.sec-p{
    padding: 0px 10px;
}

.info h4{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.logo-foo{
    height: 70px;
    width: 70px;
}

.info p{
    margin: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.info i{
    margin-right: 5px;
}

.info a{
    text-decoration: none;
    margin-top: 5px;
    color:#3b3b3b ;
    font-size: 0.9rem;
}

.info-trd{
    display: flex;
    flex-direction: column;
}

.info-icon i{
    margin-right: 10px;
    border-radius: 50px;
    padding: 10px;
    color: white;
}

.instagram{
    /* background-color: #5F4BC6; */
    background-image: linear-gradient(to right top, #f86f2f, #fc5249, #f83663, #ea207e, #d22099, #c029a6, #aa33b3, #903dbd, #8541c0, #7945c2, #6d48c4, #5f4bc6);
}

.facebook{
    background-color: #1151a5;
}

.twitter{
    background-color: #1DA1F2;
}

.youtube{
    background-color: #d30000;
}

.info-sec ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-sec ul li{
    margin-bottom: 8px;
}

.info-sec ul li a{
    text-decoration: none;
    margin: 0;
    font-size: 0.9rem;
}

.img-p{
    padding: 20px 0px;
}

hr{
    margin: 0;
}

.hr{
    width: 1140px;
}

.develop{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1140px;
    height: 105px;
    border-top: 1px solid #dddddd;
}

.develop a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.develop a:hover{
    text-decoration: underline;
}

.productDiv{
    width: 195px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 15px;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgb(3, 3, 3, 0.15);
    background-color: white;
    overflow: hidden;
    transition: all 0.5s;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

/* .productDiv:hover{
    transform: scale(1.09);
} */

.productDiv h2{
    font-size: 0.9rem;
    font-weight: 600;
    height: 70px;
}

.productDiv span{
    font-size: 0.75rem;
    color: #28a745;
    font-weight: 600;
}

.productInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    z-index: 1;
}

.productDiv h3{
    font-size: 0.95rem;
    margin: 0;
    font-weight: 400;
}

.productImg{
    height: 195px;
    width: auto;
    object-fit: contain;
}

.productDiv button{
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    width: 80px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.productDiv:hover{
    transform: scale(1.1);
}

.menu-st{
    display: none;
}

#contenedorCarrito{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: none;
}

.carritoElement{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    background-color: rgb(3, 3, 3, 0.1);
}

.carritoElement span{
    font-weight: 600;
}

.carritoElement p{
    margin: 0;
}

.carritoElement i{
    font-size: 1.3rem;
    color: red;
    cursor: pointer;
}

.elementImg{
    height: 100px;
    width: 100px;
    object-fit: contain;
    background-color: white;
}

.elementInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    height: 100px;
}

.elementInfoHijo{
    margin-left: 30px;
}

.fondoCarrito{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrito{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 700px;
    padding: 5px 10px;
    height: calc(100vh - 50px);
    box-sizing: border-box;
    /* border-radius: 20px; */
    overflow: hidden;
}

.carrito_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: #222;
    color: white;
    /* border-radius: 20px; */
}

.carrito_title i{
    font-size: 30px;
    cursor: pointer;
}

.carrito_title h4{
    margin: 0px;
    padding-left: 10px;
}

.contenidoCarrito{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: calc(100% - 50px);
    box-sizing: border-box;
}

#carritoVacio{
    align-self: center;
}

#carritoVacio p{
    margin: 0;
    text-align: center;
}

#carritoVacio img{
    height: 300px;
    width: 350px
}

#carritoConProductos{
    height: calc(100% - 50px);
    overflow: auto;
    border-top: solid 1px  rgb(3, 3, 3, 0.2);
    border-bottom: solid 1px  rgb(3, 3, 3, 0.2);
}

.carritoBotonVaciar{
    border: none;
    background-color: crimson;
    color: white;
    border: solid 1px  rgb(3, 3, 3, 0.2);
    padding: 6px 10px;
    font-size: 0.8rem;
    /* border-radius: 20px; */
}

.carritoBotonComprar{
    text-decoration: none;
    border: none;
    background-color: #f7f7f7;
    color: black;
    padding: 8px 15px;
    font-size: 0.9rem;
    /* border-radius: 20px; */
}

.botonPrecioTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    /* border-radius: 20px; */
}

.text-total{
    padding-left: 10px;
}

.carritoTotal{
    display: flex;
}

.carritoTotal p{
    margin: 0;
    font-weight: 600;
}

.disabled{
    display: none;
}

.cartel-producto-agregado{
    position: fixed;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 200;
    top: 5%;
    left: 77%;
    padding: 15px;
    cursor: default;
}

.cartel-producto-agregado p{
    margin: 0;
}

.boton-eliminar-producto{
    border: none;
    background-color: transparent;
}

.carrito-flotante{
    position: fixed;
    color: white;
    background-color: black;
    height: 60px;
    width: 60px;
    z-index: 50;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50px;
    right: 50px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);

}

.carrito-flotante i{
    font-size: 2.3rem;
}

.carrito-flotante p{
    margin: 0;
}

.numero-cantidad{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    border: 1px solid black;
    font-size: 0.9rem;
}

.carrito-flotante:hover{
    transform: scale(1.2);
}

.cartel-vaciar-carrito p{
    margin: 0;
}


.botones-cartel{
    display: flex;
    justify-content: space-evenly;
    width: 250px;
}

.contenedorFiltros{
    padding: 10px 20px;
    background-color: white;
    color: black;
    width: 250px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    margin-top: 65px;
}

.contenedorFiltros h4{
    font-size: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.listaFiltros{
    padding: 0;
}

.listaFiltros p{
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.listaFiltros li{
    list-style: none;
    margin: 5px 0px;
    border-radius: 10px;
}

.boton-filtro{
    text-decoration: none;
}

.boton-filtro:hover{
    background-color: black;
    color: white;
}

.boton-filtro-estilo{
    border: none;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: transparent;
    color: white;
    text-align: start;
    color: black;
}

.active{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

.swal2-popup{
    background-color: white;
    color: black;
    border-radius: 0px;
}

.swal2-popup h2{
    font-size: 1.5rem;
}

.swal2-popup .swal2-confirm{
    background-color: crimson;
}

.swal2-popup .swal2-styled{
    border-radius: 0px;
}


.contenedorDatos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 115px);
    padding: 20px 100px 10px 0px;
}

.formulario-datos, .formulario-pago, .formulario-confirmacion{
    width: 1000px;
    background-color: white;
    box-shadow: 0px 4px 12px rgb(3, 3, 3, 0.15);
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-bottom: 15px;
}

.row{
    margin: 10px 0px;
}

.btn{
    margin-left: 5px;
    border-radius: 0px;
}

.btn h6{
    margin: 0;
    padding: 5px;
}

.form-control{
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.principal-titulo{
    background-color: black;
    margin: 0;
    font-size: 1.7rem;
    padding: 10px;
    padding-left: 30px;
    color: white;
}

.principal-titulo i{
    color: greenyellow;
}

.col-md{
    padding: 0px 5px;
}

.principal-datos{
    margin: 20px 0px;
}

.detallesLateralPago{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 120px;
    height: 400px;
    padding: 10px;
    background-color: rgb(0, 0, 0);

}

.lateralNumero{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.2;
    cursor: default;
}

.lateralNumero p{
    margin: 0;
    color: white;
}

.lateralNumero span{
    background-color: white;
    color: black;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 10px;
}

.active{
    opacity: 1;
}

.formulario-confirmacion{
    padding: 20px;
}

.progress{
    width: 1140px;
    margin: auto;
    margin-bottom: 10px;
}

.contenedorProductosConTitulo h1{
    background-color: black;
    color: white;
    width: 960px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 2rem;
    padding-left: 15px;
    height: 45px;
    display: flex;
    align-items: center;
}


.banner{
    background-image: url(../src/img/banner.jpg);
    height: calc(100vh - 171px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* .contenedor{
    background-color: rgba(255, 0, 0, 0.628);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor h2{
    color: white;
    margin: 0;
    margin: auto;
} */

.contenedorDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 171px);
}

.detail{
    background-color: black;
    color: white;
    width: 100%;
    margin-bottom: 20px;
    font-size: 2rem;
    padding-left: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -70px;
}

.divDetail{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgb(3, 3, 3, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    column-gap: 20px;
    position: relative;
    background-color: white;
}


.imgDetail{
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.boton-agregar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    width: 120px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    column-gap: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.productInfo{
    column-gap: 20px;
}

.nombreDetail{
    font-size: 2rem;
}

.precioDetail{
    font-size: 1.5rem;
}

.infoDetail span{
    color: #28a745;
}

.back{
    position: absolute;
    right: 10px;
    bottom:-50px;
    text-decoration: none;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 6px 0px;
    width: 80px;
}

.boton-vermas{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    column-gap: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}